<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chung Ha - Alivio</title>
    <link rel="stylesheet" href="../../css/latest.css" type="text/css">
</head>
<body>
    <div class="background-container"></div>
    <div class="container-latest">
        <div class="artist-art">
            <img class="album-cover" src="../../images/page/alivio-cover.jpg"></img>
                <h1 class="BrittanyFontAnimated">Chung Ha - </h1>
                    <h3>Choose music service</h3>
        <div class="music-services-container">
             <div class="music-services-wrapper">
                <a href="https://open.spotify.com/album/5NzrdLdqF0ZuAt51eSIORo" target="_blank">
                    <img class="social-media-img" src="../../images/page/SR2_W.png" alt="Spotify"></img>
                    <h3>Spotify</h3>
                </a>
                <a href="https://music.apple.com/gb/album/alivio/1794442244" target="_blank">
                    <img class="social-media-img" src="../../images/page/AM_W.png" alt="AppleMusic"></img>
                    <h3>Apple Music</h3>
                </a>
                <a href="https://music.amazon.co.uk/albums/B0DWXPN979" target="_blank">
                    <img class="social-media-img" src="../../images/page/Amazon_R.png" alt="AmazonMusic"></img>
                    <h3>Amazon Music</h3>
                </a>
                <a href="https://music.youtube.com/playlist?list=OLAK5uy_kkTd6jx9nEzJ_EvyyXorx-KmssN-I9QRo" target="_blank">
                    <img class="social-media-img" src="../../images/page/youtube_w.png" alt="YoutubeMusic"></img>
                    <h3>Youtube Music</h3>
                </a>
            </div>
          </div>
        </div>
    </div>
    <div class="button-container">
            <button class="Button-UI">
                <img src="../../images/page/arrow-l.png" alt="arrow-left" class="Button-UI-Image" />
                    <a href="../../index.html">
                        <span class="handwriting">Chung Ha</span>
                    </a>
            </button>
            <button class="Button-UI" onclick="window.history.back()">
                <img src="../../images/page/house.png" alt="home" class="Button-UI-Image" />
                <img src="../../images/page/arrow-r.png" alt="arrow-right" class="Button-UI-Image" />
                <a href="../../index.html"></a>
            </button>
        </div>
</body>
</html>
